.product-div>p>span{
    text-align:center;
    font-weight: bold;
    font-size:19px
}

.product-div{
    height: 275px;
    width: 200px
}

.margin150 {
    margin-top: 150px;
}

.product-title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.product-list-ul>li{
    margin: 0 20px 20px 20px;
}